#!/usr/bin/env bash

TZ="${TZ:-"America/Los_Angeles"}"
export TZ

CLICOLOR=1
COLORTERM="${CLICOLOR:+1}"
CLICOLOR_FORCE="${CLICOLOR:+1}"
FORCE_COLOR="${CLICOLOR:+1}"
export CLICOLOR COLORTERM CLICOLOR_FORCE FORCE_COLOR

GPG_TTY=$(tty)
export GPG_TTY

if command -v tput &>/dev/null; then
  LESS_TERMCAP_mb=$(
    tput bold
    tput setaf 2
  )
  LESS_TERMCAP_md=$(
    tput bold
    tput setaf 6
  )
  LESS_TERMCAP_me=$(tput sgr0)
  LESS_TERMCAP_so=$(
    tput bold
    tput setaf 3
    tput setab 4
  )
  LESS_TERMCAP_se=$(
    tput rmso
    tput sgr0
  )
  LESS_TERMCAP_us=$(
    tput smul
    tput bold
    tput setaf 7
  )
  LESS_TERMCAP_ue=$(
    tput rmul
    tput sgr0
  )
  LESS_TERMCAP_mr=$(tput rev)
  LESS_TERMCAP_mh=$(tput dim)
  LESS_TERMCAP_ZN=$(tput ssubm)
  LESS_TERMCAP_ZV=$(tput rsubm)
  LESS_TERMCAP_ZO=$(tput ssupm)
  LESS_TERMCAP_ZW=$(tput rsupm)

  GROFF_NO_SGR=1

  export LESS_TERMCAP_mb LESS_TERMCAP_md LESS_TERMCAP_me LESS_TERMCAP_so
  export LESS_TERMCAP_se LESS_TERMCAP_us LESS_TERMCAP_ue LESS_TERMCAP_mr
  export LESS_TERMCAP_mh LESS_TERMCAP_ZN LESS_TERMCAP_ZV LESS_TERMCAP_ZO
  export LESS_TERMCAP_ZW GROFF_NO_SGR
fi

EDITOR=nvim
TERMINAL="urxvt"
export EDITOR TERMINAL

HISTSIZE=50000000
HISTFILESIZE=$HISTSIZE
HISTCONTROL=ignoredups
HISTIGNORE=" *:ls:cd:cd -:pwd:exit:date:* --help:* -h:pony:pony add *:pony update *:pony save *:pony ls:pony ls *"
export HISTSIZE HISTFILESIZE HISTCONTROL HISTIGNORE

LANG="en_US.UTF-8"
LC_ALL="en_US.UTF-8"
MANPAGER="less -X"
export LANG LC_ALL MANPAGER

DBUS_SESSION_BUS_ADDRESS=unix:path=/var/run/user/$(id -u)/bus
export DBUS_SESSION_BUS_ADDRESS

# shellcheck disable=SC2209
TODOTXT_DEFAULT_ACTION=ls
export TODOTXT_DEFAULT_ACTION

GDK_SCALE=1.5
GDK_DPI_SCALE=0.5
QT_DEVICE_PIXEL_RATIO=1.5
export GDK_SCALE GDK_DPI_SCALE QT_DEVICE_PIXEL_RATIO

GO15VENDOREXPERIMENT=1
DOCKER_CONTENT_TRUST=1
XDG_DATA_DIRS=/usr/share/
export GO15VENDOREXPERIMENT DOCKER_CONTENT_TRUST XDG_DATA_DIRS

# do not automatically cleanup after installing homebrew packages
HOMEBREW_NO_INSTALL_CLEANUP=1
# do not show env hints during homebrew install process
HOMEBREW_NO_ENV_HINTS=1
export HOMEBREW_NO_INSTALL_CLEANUP HOMEBREW_NO_ENV_HINTS

# tell terminal.app to shut the fuck up about switching the shell to zsh
BASH_SILENCE_DEPRECATION_WARNING=1
export BASH_SILENCE_DEPRECATION_WARNING
