#!/usr/bin/env bash

export TZ="America/Los_Angeles"
export LSCOLORS='CxGxcxdxBxegedabagHfHc'
# export LS_COLORS='no=00:fi=01;04:di=01;04;35:ln=01;03;04;33:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;42;37;06:.DS_Store=02;08:*.*js=01;04;33:*.jsx=01;04;33:*.tsx=01;04;34:*.css=01;04;35:*.d.ts=01;04;34:*.ts=01;04;34:*.svelte=01;38;2;255;58;0:*.md=01;04;34:*.mdx=01;04;36:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
export CLICOLOR=1
export COLORTERM=$CLICOLOR
export GPG_TTY=$(tty)
if command -v tput >&/dev/null; then
	export LESS_TERMCAP_mb=$(
		tput bold
		tput setaf 2
	)
	export LESS_TERMCAP_md=$(
		tput bold
		tput setaf 6
	)
	export LESS_TERMCAP_me=$(tput sgr0)
	export LESS_TERMCAP_so=$(
		tput bold
		tput setaf 3
		tput setab 4
	)
	export LESS_TERMCAP_se=$(
		tput rmso
		tput sgr0
	)
	export LESS_TERMCAP_us=$(
		tput smul
		tput bold
		tput setaf 7
	)
	export LESS_TERMCAP_ue=$(
		tput rmul
		tput sgr0
	)
	export LESS_TERMCAP_mr=$(tput rev)
	export LESS_TERMCAP_mh=$(tput dim)
	export LESS_TERMCAP_ZN=$(tput ssubm)
	export LESS_TERMCAP_ZV=$(tput rsubm)
	export LESS_TERMCAP_ZO=$(tput ssupm)
	export LESS_TERMCAP_ZW=$(tput rsupm)
	export GROFF_NO_SGR=1
fi
export EDITOR=nvim
export TERMINAL="urxvt"
export HISTSIZE=50000000
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
export HISTIGNORE=" *:ls:cd:cd -:pwd:exit:date:* --help:* -h:pony:pony add *:pony update *:pony save *:pony ls:pony ls *"
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"
export MANPAGER="less -X"
export DBUS_SESSION_BUS_ADDRESS
DBUS_SESSION_BUS_ADDRESS=unix:path=/var/run/user/$(id -u)/bus
export TODOTXT_DEFAULT_ACTION=ls
export GDK_SCALE=1.5
export GDK_DPI_SCALE=0.5
export QT_DEVICE_PIXEL_RATIO=1.5
export GO15VENDOREXPERIMENT=1
export DOCKER_CONTENT_TRUST=1
export XDG_DATA_DIRS=/usr/share/
