{
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"filepath": ".",
	"overrides": [
		{
			"files": ["*.sh", ".bashrc", ".bash_*", ".exports", ".functions", ".path"],
			"options": {
				"parser": "sh",
				"plugins": ["prettier-plugin-sh"]
  		}
		}
	],
	"printWidth": 100,
	"proseWrap": "preserve",
	"quoteProps": "consistent",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useTabs": true,
  "pluginSearchDirs": [".", "node_modules"]
}
