.gitconfig.d
.gitconfig.d/**/*
node_modules
node_modules/**/*
**/node_modules/**
docs
docs/**/*
.vscode
.vscode/**/*
.env
.env.d
.env.d/**/*
.config
.config/**/*
bin
bin/**/*
lib
lib/**/*
.iterm2
.iterm2/**/*
.git
.gnupg
.gnupg/**/*
.hidden
.private
.DS_Store
*.md
*.yml
*.yaml
*.json
*.txt
.npmrc
.nirc
.editorconfig
.prettierrc
.prettierignore
.eslintrc.js
.eslintrc.json
.gitignore
.gitattributes
.gitconfig
.gitmodules
.github
.github/**/*

.env.*
.env.me
.env.project
pnpm-lock.yaml
yarn.lock
package-lock.json
lock.yaml
package.json
!setup.sh
!scripts/*.sh
!lib/osc
!lib/index_of
!.bashrc
!.bash_profile
!.bash_prompt
!.bash_aliases
!.bash_logout
!.functions
!.exports
!.path
!.utilities
!.aliases
!.exports
Makefile
